<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of unVerified" >
      <td>{{ person.name }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.mobile }}</td>
      <td>{{ person.role }}</td>
      <td><a (click) = "verifyUser(person._id)"><i class="fa fa-check fa-3x"></i></a>
        <a (click)="deleteUser(person._id)" id="delete"><i class="fa fa-trash fa-3x" aria-hidden="true"
          *ngIf="person.role !=='admin'"></i></a>
      </td>
    </tr>
  </tbody>
  </table>